{% extends "./layout.html" %}

{% block title %}Contacto | Jeremias Panozzo{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contacto.css') }}">
{% endblock %}
{% block body %}
<div class="contact-container">
    <h1>Contáctame</h1>
    <form action="{{ url_for('routes.contacto') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label for="name">Nombre:</label><br>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="message">Mensaje:</label><br>
        <textarea id="message" name="message" required></textarea>
        <br>
        <button type="submit">Enviar</button>
    </form>
    {% if success %}
    <p>{{ success }}</p>
    {% endif %}
</div>
{% endblock %}